<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Inscribed Polygon Calculator</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation"></nav>
		<div class="container">
		<h2>Approximating the area of a Circle</h2>
		<h3>Inscribed Polygon Calculator</h3>
		<form action="/answer_page" method="post" accept-charset="utf-8">
			<div class="form-group">
				<label for="sidesInput">How many sides?</label>
				<input type="text" name="numSides"/><br/>
				<div class="enter-button">
					<input type="submit" class="btn btn-default"/>
				</div>
			</div>
		</form>
		<div class="img">
			<img src="http://images.tutorvista.com/cms/images/67/inscribed-polygon-area1.png">
		</div>
	</div>
	<div class="footer">
        	<p class="text-muted"> Andrew Elkins 2014 </p>
    </div>
	</body>
</html>

